    <footer>

    </footer>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
    <script>
    $(".dropdown").dropdown();
    </script>
  </body>
</html>
